<template>
    <Table
        v-loading="loading"
        element-loading-text="Loading..."
        element-loading-spinner="el-icon-loading"
        :data="data"
        stripe
        style="width: 100%">
        <TableColumn
            label="Name"
            prop="name">
        </TableColumn>
        <TableColumn
            label="Price">
            <template slot-scope="scope">
                <span>{{ scope.row.price }}</span>
            </template>
        </TableColumn>
        <TableColumn
            label="Bedrooms">
            <template slot-scope="scope">
                <span>{{ scope.row.bedroom_count }}</span>
            </template>
        </TableColumn>
        <TableColumn
            label="Bathrooms">
            <template slot-scope="scope">
                <span>{{ scope.row.bathroom_count }}</span>
            </template>
        </TableColumn>
        <TableColumn
            label="Storeys">
            <template slot-scope="scope">
                <span>{{ scope.row.storey_count }}</span>
            </template>
        </TableColumn>
        <TableColumn
            label="Garages">
            <template slot-scope="scope">
                <span>{{ scope.row.garage_count }}</span>
            </template>
        </TableColumn>
    </Table>
</template>

<script>
    import { Table, TableColumn } from 'element-ui';
    export default {
        props:{
            data: Array,
            loading: Boolean
        },
        components: {
            Table,
            TableColumn
        },
    }
</script>
