<template>
    <Form label-width="100px" :model="options">
        <Input :clearable="true" placeholder="Name" v-model="options.name"></Input>
        <Input :clearable="true" class="mt-2" placeholder="Bedrooms" v-model="options.bedroom_count" type="number" min="0"></Input>
        <Input :clearable="true" class="mt-2" placeholder="Bathrooms" v-model="options.bathroom_count" type="number" min="0"></Input>
        <Input :clearable="true" class="mt-2" placeholder="Storeys" v-model="options.storey_count" type="number" min="0"></Input>
        <Input :clearable="true" class="mt-2" placeholder="Garages" v-model="options.garage_count" type="number" min="0"></Input>
        <Input :clearable="true" class="mt-2" placeholder="Min Price" v-model="options.min_price" type="number" min="0"></Input>
        <Input :clearable="true" class="mt-2" placeholder="Max Price" v-model="options.max_price" type="number" min="0"></Input>
        <div class="mt-8">
            <Button class="mt-5" type="primary" @click="search()">Search</Button>
        </div>
    </Form>
</template>

<script>
    import { Button, FormItem, Input, Form } from 'element-ui';
    export default {
        components: {
            Button,
            FormItem,
            Input,
            Form
        },
        data() {
            return {
                options: {
                    name: null,
                    bedroom_count: null,
                    bathroom_count: null,
                    storey_count: null,
                    garage_count: null,
                    min_price: null,
                    max_price: null,
                }
            };
        },
        methods: {
            search() {
                this.$emit('search', this.options);
            },
        },
    };
</script>
