<template>
    <div class="shadow-md bg-white rounded-lg h-18 p-5 flex">
        <div class="w-80 mr-5">
            <SearchForm @search="search"></SearchForm>
        </div>
        <SearchResult :loading="loading" :data="data"></SearchResult>
    </div>
</template>

<script>
    import SearchForm from './partials/search-form';
    import SearchResult from './partials/search-result';
    export default {
        components: {
            SearchForm,
            SearchResult
        },
        data() {
            return {
                loading: false,
                data: []
            };
        },
        methods: {
            search(query){
                this.loading = true;
                this.data = [];
                this.axios.get('/api/townhouses',  { params: query })
                .then((response) => {
                    if(response.status === 200 && response.data && Array.isArray(response.data.data)) {
                        this.data = response.data.data;
                        this.loading = false;
                    } else{
                        this.loading = false;
                    }
                })
                .catch((e) => {
                    this.loading = false;
                    console.log(e);
                });
            }
        }
    };
</script>
